<a href="https://colab.research.google.com/github/Paolo20224/ProjectZero/blob/main/nutrients.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Realizar el analisis exploratorio de data (duplicados, nulos, columnas erroneas). 
# Luego realizar 4 gráficos con sus correspondientes explicaciones, tengan en cuenta la estetica de las ilustraciones.
# Bajo su concepto, generar una salida OUTCOME de clasificación, a criterio de cada uno, y una columna PREDICTION, aleatoria con lo que seria el resultado de un modelo. 
# Generar la matriz de confusión, calcular el RECALL. 
# Generar una presentación con 4 slides, titulo, objetivos, metodologia, graficos y 2 conclusiones.
# enviar a jortiz@codingdojo.cl

In [2]:
#Iniciamos el análisis de nuestro Dataframe, incorporando nuestra información bruta en Colab
import pandas as pd
filename = "/content/nutrients_csvfile.csv"
df = pd.read_csv(filename)

In [3]:
#Una vez cargada la informacion, verificamos los tipos de datos de cada columna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Food      335 non-null    object
 1   Measure   335 non-null    object
 2   Grams     335 non-null    object
 3   Calories  334 non-null    object
 4   Protein   335 non-null    object
 5   Fat       335 non-null    object
 6   Sat.Fat   333 non-null    object
 7   Fiber     335 non-null    object
 8   Carbs     335 non-null    object
 9   Category  335 non-null    object
dtypes: object(10)
memory usage: 26.3+ KB

In [4]:
#En el paso anterior logramos divisar que existe un valor nulo para calorias, el cual revisaremos a continuacion.
#Para poder tener un analisis superficial de la informacion, revisaremos los primeros 5 datos contenidos en el archivo
df.head(5)

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products

In [5]:
# Revision Dato Nulo en columna calorias
df2=df
calories_missing =df2["Calories"].isna()
df2.loc[calories_missing,:]

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
134,Frozen peas,1 cup,100,NaN,5,t,0,1.8,12,Vegetables R-Z

In [6]:
# A continuacion revisaremos dentro del DF si existe algun valor de calories para "Frozen peas"
frozenpeas_filter=df2["Food"]=="Frozen peas"
df2[frozenpeas_filter].head()
# No existe ninguna otra fila con el dato "Frozen peas" para la columna Food, por lo que no podremos asignar un valor.

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
134,Frozen peas,1 cup,100,NaN,5,t,0,1.8,12,Vegetables R-Z