<a href="https://colab.research.google.com/github/Paolo20224/ProjectZero/blob/main/PJ2_DolarvsIPSAvsCobre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Como parte inicial, descargamos la informacion y la cargamos en nuestro cuader en Colab
import pandas as pd
filename = "/content/IPSA vs Dolar vs Cobre.xlsx"
df = pd.read_excel(filename)

1.Depuracion de Datos

In [10]:
# A continuacion revisaremos aquellos datos nulos para ver la integridad de la informacion
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha         938 non-null    datetime64[ns]
 1   IPSA          938 non-null    int64
 2   VarIPSA       938 non-null    float64
 3   Dólar         938 non-null    float64
 4   Precio Cobre  916 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 36.8 KB

In [12]:
# Revisaremos los primero diez datos para dimensionar la magnitud de la info
df.head(10)

       Fecha  IPSA  VarIPSA   Dólar  Precio Cobre
0 2019-01-02  5125   0.0039  694.77        5839.0
1 2019-01-03  5129   0.0007  697.09        5811.0
2 2019-01-04  5189   0.0117  697.64        5840.0
3 2019-01-07  5190   0.0002  688.42        5889.5
4 2019-01-08  5224   0.0066  679.69        5904.5
5 2019-01-09  5265   0.0077  680.10        5964.0
6 2019-01-10  5298   0.0064  678.09        5908.5
7 2019-01-11  5353   0.0104  677.58        5926.5
8 2019-01-14  5357   0.0008  675.15        5861.0
9 2019-01-15  5374   0.0031  674.95        5882.0

In [14]:
#Lo primero que logramos visualizar son elementos nulos para algunos dias en relacion a los precios del cobre, dada su baja materialidad en términos de dias realizaremos un drop para todas las filas en esos periodos
df2=df
df2 = df2.dropna(subset=["Precio Cobre"])
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 916 entries, 0 to 937
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha         916 non-null    datetime64[ns]
 1   IPSA          916 non-null    int64
 2   VarIPSA       916 non-null    float64
 3   Dólar         916 non-null    float64
 4   Precio Cobre  916 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 42.9 KB

In [15]:
df2.describe()

              IPSA     VarIPSA        Dólar  Precio Cobre
count   916.000000  916.000000   916.000000    916.000000
mean   4582.826419    0.000154   772.933100   7545.415939
std     530.322664    0.016097    69.858172   1722.594864
min    2876.000000   -0.141100   649.220000   4617.500000
25%    4189.750000   -0.006725   718.320000   5926.500000
50%    4605.000000    0.000000   773.555000   6976.500000
75%    5001.000000    0.007700   813.500000   9357.125000
max    5775.000000    0.096900  1042.970000  10730.000000

In [16]:
#A continuacion analizamos la correlacion entra las variables cuantitativas.
import pandas as pd
corr_df = df.corr(method='pearson')
corr_df.style.background_gradient(cmap='coolwarm')