<a href="https://colab.research.google.com/github/Paolo20224/ProjectZero/blob/main/PJ2_DolarvsIPSAvsCobre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Como parte inicial, descargamos la informacion y la cargamos en nuestro cuader en Colab
import pandas as pd
filename = "/content/IPSA vs Dolar vs Cobre.xlsx"
df = pd.read_excel(filename)

1.Depuracion de Datos

In [10]:
# A continuacion revisaremos aquellos datos nulos para ver la integridad de la informacion
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha         938 non-null    datetime64[ns]
 1   IPSA          938 non-null    int64
 2   VarIPSA       938 non-null    float64
 3   Dólar         938 non-null    float64
 4   Precio Cobre  916 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 36.8 KB

In [11]:
df.describe()

              IPSA     VarIPSA        Dólar  Precio Cobre
count   938.000000  938.000000   938.000000    916.000000
mean   4582.908316    0.000133   773.126087   7545.415939
std     530.139469    0.016073    69.824531   1722.594864
min    2876.000000   -0.141100   649.220000   4617.500000
25%    4190.250000   -0.006700   718.012500   5926.500000
50%    4605.000000   -0.000100   773.785000   6976.500000
75%    5001.000000    0.007775   814.955000   9357.125000
max    5775.000000    0.096900  1042.970000  10730.000000